//--------------------INIZIO  NAVBAR-------------------------

@mixin bgcolor {
  background-color: $fifthColor;
}

@mixin color {
  .navbar-brand {
    font-size: 2.6em;
    color: $secondColor;
    cursor: pointer;
  }
  .nav-link {
    font-size: 1.5em;
    color: $secondColor !important;
  }
}

@mixin size {
  padding-top: 1em;
  padding-bottom: 0.3em;
}

@mixin bottone {
  border: 1px solid $secondColor;
  color: $secondColor;
}

@mixin icone {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3em;
  background-color: $fifthColor;
  padding-bottom: 0.3em;
  i {
    padding-right: 1.5em;
    color: $secondColor;
    font-size: 1.5em;
  }
}

@mixin collassaFine {
  display: flex;
  justify-content:flex-end;
  padding-right: 2em;
}

//--------------------FINE  NAVBAR-------------------------
//
//
//
//
//--------------------INIZIO  MAIN-------------------------

//--------------------INIZIO  HEADER-------------------------
@mixin contenuto {
}

@mixin offerte {
  background-color: $firstColor;
  height: 45em;
  border: 1.5px solid $firstColor;
  border-radius: 6em;
  padding-top: 2em;
  margin-top: 2em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

@mixin titolo {
  font-family: "Roboto", sans-serif;
  color: $fifthColor;
  display: flex;
  justify-content: center;
}

@mixin colonna {
  display: flex;
  justify-content: space-around;
  .card {
    border-radius: 1em;
    .card-img-top {
      display: flex;
      justify-content: center;
      margin-top: 1em;
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
//--------------------INIZIO SECONDA PARTE HEADER-------------------------
@mixin secondaParte{
  .titolo2{
    color: $fifthColor;
  }
  background-color: $secondColor;
  border: 1px solid $secondColor;
  border-radius: 6em;
  margin: 2em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .photo{
    height: 30em;
    width: 30em;
    border: 1px solid $whiteColor;
    border-radius: 2em;
  }
  h5{
    color: $fifthColor;
    display: flex;
    justify-content: center;
    margin-top: 1em;
   }
}
//--------------------FINE SECONDA PARTE HEADER-------------------------
//--------------------FINE HEADER-------------------------
//--------------------INIZIO  SECTION-------------------------
@mixin grandezza {
  margin: 1.5em;
  background-color: $firstColor;
  border: 1px solid $firstColor;
  padding-bottom: 3em;
  margin-bottom: 5em;
  border-radius: 6em;
  margin-top: 5em;
  text-align: center;
  .part {
    font-size: 5em;
    color: $fifthColor;
  }
  .logo {
    height: 350px;
    width: 350px;
  }
}
//--------------------FINE SECTION-------------------------
//--------------------FINE MAIN-------------------------
//
//
//
//
//--------------------INIZIO FOOTER-------------------------
@mixin fine {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: $fifthColor;
  color: $firstColor;
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: $firstColor;
    line-height: 3em;
  }
}
//--------------------FINE FOOTER-------------------------
